<h3>
Question: <%= @question.title %>
</h3>


<%= @question.description %>
<p>
<td><%= link_to "Edit", edit_question_path(@question) %><td>
<td><%= link_to "Delete", {:controller => "questions",:action =>
  'destroy', :id => @question.id }, :method => :delete %></td>
</p>

<p>
  <h3>Answers:</h3>
  <% @question.answers.each do |answer|%>
    <li><%= answer.description %></li>
  <% end %>
</p>
<%= render 'answer_form' %>
